

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(230, 4, 230);
}

#search {
    min-width: 200px;
    background-color: orange;
    text-align: center;
}