*   {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* Leaving the body with small amount of code so many 
    seperate parts with different settings */
    
body  {
    background: coral;
    margin: 0px;
    font-family: Helvetica;
}
    
/* Orignally the site wouldn't work until I made more divs */
/* Made a lot of div tags to start flexboxing everything
    started with the head and would go down so I wouldn't
    get overwhelemed with the whole project */

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 300px;
    border-radius: 0px;
    border: red solid 0px;
    background-color: orchid;
}

/* Made a header div and broke it down into 
    header-left, 
    header-center,
    header-right
*/

    .header-left {
        width: 25%;
        max-width: 300px;
        height: 100%;
        justify-content: center;
        align-content: center;
    }


    .header-center {
        display: flex;
        flex-flow: column nowrap;
        max-width: 60%;
        max-height: 100%;
        align-content: space-around;
        justify-self: center;
        text-align: center;
        color: blue;
        padding: 0px;
        background-color: orange;
        border: red solid 0px;
        border-radius: 0px;
        text-transform: uppercase;
    }

/* I broke header-center down into 3 divs 
     title-top 
     title-middle
     title-bottom
*/

    .title-event {
        max-width: 100%;
        max-height: 100%;
        font-size: 200%;
        border: 10px solid red;
        background: blueviolet;
    }
        .header-title {
            display: flex;
            flex-flow: column nowrap;
            max-width: 100%;
            max-height: 75%;
            align-content: center;
            justify-content: center;
        }

            .title-top {
                max-width: 100%;
                max-height: 100%;
            } 

            .title-middle {
                font-size: 150%;
                max-width: 100%;
                max-height: 100%;
            }

            .title-bottom {
                max-width: 100%;
                max-height: 100%;
            }

    .header-right {
        width: 25%;
        max-width: 300px;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

.lower-body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 300px;
    border-radius: 0px;
    border: red solid 0px;
    background-color: orchid;
}
  
    .weirdLife {
        width: 20%;
        min-width: 300px;
        height: 300px;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: red;
        background: blue;
    }

    .question {
        max-width: 840px;
        max-height: 300px;
        justify-content: center;
        align-content: center;
        text-align: center;
        color: red;
        background: green;
    }

        .search {
            display: flex;
            flex-flow: column wrap;
            min-height: 226px;
            width: 100%;
            text-align: center;
            align-content: center;
            justify-content: center;
            background: red;
            color: green;
        }

        #submit {
            background: orange; 
            color: blue;
        }

    .kidzLife {
        width: 20%;
        min-width: 300px;
        height: 300px;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: red;
        background: blue;
    }

    .copyright {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        min-height: 243px;
        background: yellow;
        text-align: center;
    }